{% extends 'base.html' %}
{% block title %}Мои встречи{% endblock %}

{% block content %}
<section class="section">
    <h2>Мои встречи</h2>
    <div class="cards">
        {% for meeting in meetings %}
        <div class="card">
            <h3>{{ meeting.booking.restaurant.name }}</h3>
            <p>Дата: {{ meeting.booking.booking_date }}</p>
            <p>Время: {{ meeting.booking.booking_time }}</p>
            <p>Статус встречи: {{ meeting.status }}</p>

            {% if current_user.id == meeting.from_user_id %}
                <p>С кем встреча: {{ meeting.to_user.name }}</p>
                <a class="btn small-btn" href="{{ url_for('main.chat', user_id=meeting.to_user.id) }}">Чат</a>
                <a class="btn small-btn" href="{{ url_for('main.user_detail', user_id=meeting.to_user.id) }}">Профиль</a>
            {% else %}
                <p>С кем встреча: {{ meeting.from_user.name }}</p>
                <a class="btn small-btn" href="{{ url_for('main.chat', user_id=meeting.from_user.id) }}">Чат</a>
                <a class="btn small-btn" href="{{ url_for('main.user_detail', user_id=meeting.from_user.id) }}">Профиль</a>
            {% endif %}

            {% if meeting.status == 'accepted' %}
                <a class="btn small-btn danger-btn" href="{{ url_for('main.finish_request', request_id=meeting.id) }}">Завершить встречу</a>
            {% endif %}
        </div>
        {% else %}
        <p>У вас пока нет подтверждённых встреч</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
